{
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended",
  ],
  "plugins": [],
  "rules": {
    // "vue/max-attributes-per-line": "off",
    // "vue/singleline-html-element-content-newline": "off"
  }
}